*{
	margin:0;
	padding:0;
}

.clear
{
	clear:both;
}

.fix{
    position:fixed;
    bottom:0px;
    left:83%;
    width:300px;
	height:200px;
}

body
{
	background-color: #f7f7f7;
}

#upper_menu{
	width:100%;
	height:30px;
	background-color:#4f4b47;
}

#upper_menu #logo{
	float:left;
	text-decoration: none;
	padding-top:7px;
	color:#fff;
	font-family: 'Zen Dots', cursive;
	margin-left: 40px;
}

#upper_menu #logo:hover{
	color:#a6a6a6;
}

#upper_menu ul{
	padding-top:3px;
}

#upper_menu ul li{
	display: inline;
	margin-right: 40px;
	float:right;
}

#upper_menu ul li a:hover{
	text-decoration: underline;
}

#upper_menu ul li a{
	text-decoration: none;
	color:#fff;
}

#main_wrapper{
	width:90%;
	height:500px;
	margin:0 auto;
	font-family: 'Lato', sans-serif;
}

#top_animes
{
	margin-top:20px;
}

.top_item
{
	margin-top:30px;
	float: left;
	width:21%;
	height:300px;
	margin-left:4%;
}

.top_item img
{
	width:200px;
	height:300px;
}

.top_item img:hover
{
	opacity: 0.9;
}

.rev_block h2
{
	padding-bottom: 20px;
}

.rev_block
{
	width:100%;
	height:400px;
	background-color: #f2f2f2;
	margin-top:20px;
	border-radius: 10px;
}

.rev_block .rev_img
{
	width:250px;
	padding-left: 15px;
	padding-top:15px;
	padding-bottom: 15px;
	height:350px;
	float:left;
	margin-right: 20px;
}

.rev_block .rev_img:hover
{
	opacity: 0.9;
}

.rev_block .caps
{
	padding-top: 15px;
}

.rev_block hr
{
	margin-top:15px;
}

#foot
{
	text-align: center;
	padding-top: 20px;
	color:#fff;
	height:150px;
	width:100%;
	background-color:#4f4b47;
	margin-top:100px;
	font-size:25px;
	font-family: 'Lato', sans-serif;
}